[submodule "vendor/jasmine-jstd-adapter"]
	path = vendor/jasmine-jstd-adapter
	url = git://github.com/mhevery/jasmine-jstd-adapter.git
[submodule "vendor/jasmine"]
	path = vendor/jasmine
	url = git://github.com/pivotal/jasmine.git
